body{
    background-color: rgb(0, 0, 0);
font: Helvetica;
color: white;
}
.navbar-brand {
    width:150px;
    height:auto;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.61) !important;
}
.navbar a{
    font-size: 20px;
    color: rgb(255, 254, 255) !important;
  
}
.navbar a:hover{
 color: rgb(162, 0, 255) !important;
}

.video1{
    margin-top: 200px;
}
.video2{
    margin-top: 200px;
}
.video3{
    margin-top: 200px;
    margin-bottom: 200px;
}
h1{
    font-weight: bolder;
}